@import '~@/assets/css/varibles.styl';
.header
    position fixed
    background #fff
    width 100%
    z-index 200
    min-width 1190px
    min-height 60px
    .header-box
        height 60px
        display flex
        align-items center
        justify-content: space-between
        padding 10px 15px
        box-sizing border-box
        border-bottom 1px solid $borderColor