@import '~@/assets/css/varibles.styl';
.info
    height 100%
    width 100%
    background #fff
    .info-box
        position absolute
        left 32px
        top 32px
        display flex
        align-items center
        z-index 100
        .info-img
            display block
            height 50px
            width 50px
        .go-back
            font-size 16px
            color $darkColor
            margin-left 16px
            padding-left 16px
            border-left 1px solid $borderColor
            cursor pointer 
    .info-card
        position relative
        left 0
        right 0
        top 100px
        margin auto
        width 380px
        padding 50px 60px 40px
        background-color rgba(255, 255, 255, .4)
        box-shadow 0 15px 30px rgba(0, 35, 3, 0.08)
        border-radius 4px
        z-index 2